body{
	background-image: url(images/fon.png);
}
.tet{
	position:absolute;
	font-size:7rem;
	top:0px;
	left:30%;
}
.img1{
	position:absolute;
	transform:rotate(-90deg);
	left:0px;
	z-index: -1;
	display: none;
}
.bottom_in_start{
	position:absolute;
	top: 300px;
	left: 300px;
}
.body_bottom1{
	position:absolute;
	width:700px;
	height:250px;
	background-color:rgb(0, 228, 38);
	border:25px solid;
	border-color: black;
	border-radius: 20%;

}
.text_bottom1{
	position:absolute;
	font-size:5rem;
	top: 100px;
	left: 220px;
}
